**~
**.project
**.cproject
**.settings
**.o
**.autotools
**.deps
**.dirstamp
**.sdf
**.obj
**.fits
**.suo
**.ko

moc_*
qrc_*
ui_*
cow/cow
owl/other_makefile/
owl/owl
quick_diagnostics/QuickDiag

stars/windows/stars

decomd/build
decom/test_decom/test_decom
decom/test_decom/test_decom_packets
decom/.tmp_versions
decom/.decom_pci.ko.cmd
decom_pci.mod.o.cmd
decom_pci.o.cmd
decom/.decom_pci.mod.o.cmd
decom/.decom_pci.o.cmd
decom/Module.symvers
decom/decom_pci.mod.c
decom/modules.order

