**~
**.project
**.cproject
**.settings
**.o
**.autotools
**.deps
**.dirstamp
**.sdf
**.obj
**.fits
**.suo
stars/windows/stars/*
**.ko
**.swp
**.swn

moc_*
qrc_*
ui_*
cow/cow
owl/other_makefile/
owl/owl
owl/Makefile
quick_diagnostics/QuickDiag

stars/windows/stars


defricher/build
groundhog/build
mole/build

test_programs/synclink/build
test_programs/mpsse/build
test_programs/flash_eeprom/libftdi

decomd/build
decom/test_decom/test_decom
decom/test_decom/simple_test
decom/test_decom/test_decom_packets
decom/.tmp_versions
decom/.decom_pci.ko.cmd
decom_pci.mod.o.cmd
decom_pci.o.cmd
decom/.decom_pci.mod.o.cmd
decom/.decom_pci.o.cmd
decom/Module.symvers
decom/decom_pci.mod.c
decom/modules.order

test_programs/synclink/support/test_biphase
linklistcheck/linklistcheck
