[Desktop Entry]
Type=Application
Exec=cow
Icon=/usr/share/icons/hicolor/scalable/apps/cow.svg
MimeType=application/x-cow;
Categories=Qt;Science;
Name=Cow
GenericName=Command Operations Window

