*.o
*.lo
*.rpm
*.tgz
*.sig
*.~
.deps
.libs
Makefile
Makefile.in
aclocal.m4
config.cache
config.h
config.log
config.status
configure
libtool
stamp-h
stamp-h.in
gdsl-config
config.h.in
/autom4te.cache/
/compile
/config.guess
/config.sub
/depcomp
/gdsl.spec
/install-sh
/ltmain.sh
/missing
/stamp-h1
