[Desktop Entry]
Type=Application
Exec=owl
Icon=/usr/share/icons/hicolor/scalable/apps/owl.svg
MimeType=application/x-owl;
Categories=Qt;Science;
Name=Owl
GenericName=Numerical Display
